{% load static compress %}

{% if not user.is_authenticated %}
    {% if plausible_domain is not None %}
        <script async defer data-domain="{{ plausible_domain }}"
                src="https://plausible.augendre.info/js/plausible.js">
        </script>
    {% endif %}

    {% if goatcounter_domain is not None %}
        {% compress js inline %}
            <script>
                window.goatcounter = {
                    endpoint: 'https://{{ goatcounter_domain }}/count',
                    allow_local: true,
                }
            </script>
            <script async defer src="{% static "vendor/goatcounter.js" %}"></script>
        {% endcompress %}
        <noscript>
            <img src="https://{{ goatcounter_domain }}/count?p={{ request.get_full_path }}"
                 alt="GoatCounter tracking pixel">
        </noscript>
    {% endif %}
{% endif %}
