<nav>
    <a href="{% url 'articles-list' %}">Home</a>
    <a href="{% url 'complete-feed' %}">RSS</a>
    {% if user.is_authenticated %}
        <a href="{% url 'admin:articles_article_add' %}">Write</a>
        <a href="{% url 'drafts-list' %}">View drafts <span class="pill">{{ drafts_count }}</span></a>
        <a href="{% url 'admin:index' %}">Admin</a>
        <a href="{% url 'admin:logout' %}?next={{ request.get_full_path }}">Log out</a>
    {% else %}
        <a href="{% url 'admin:login' %}?next={{ request.get_full_path }}">Log in</a>
    {% endif %}
</nav>
