{% extends 'articles/base.html' %}

{% block append_css %}
    <style>{{ article.get_minified_custom_css }}</style>
    <style>.pagination{display:flex;justify-content:space-between}</style>
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
    <section>
        <h2 id="blog-posts">Blog posts</h2>
        {% for article in articles %}
            <p>
                {% include "articles/snippets/datetime.html" %}<br>
                <a href="{% url 'article-detail' slug=article.slug %}">{{ article.title }}</a>
            </p>
        {% empty %}
            <p>No article here. Come back later 🙂</p>
        {% endfor %}
    </section>
    <nav class="pagination">
        <div>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}#blog-posts"><button>⇠ Older</button></a>
            {% endif %}
        </div>
        <div>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}#blog-posts"><button>Newer ⇢</button></a>
            {% endif %}
        </div>
    </nav>
    {% if article %}
        <section>
            <h2>{{ article.title }}{% include "articles/snippets/admin_link.html" %}</h2>
            <div>
                {{ article.get_formatted_content|safe }}
            </div>
        </section>
    {% endif %}
{% endblock %}
