{% load static compress %}
{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Gabriel Augendre">
    <meta name="color-scheme" content="light dark">
    <title>{% block title %}Home | {% endblock %}{{ blog_title }} by {{ blog_author }}</title>
    <link rel="alternate" type="application/rss+xml" title="Gab's Notes » Feed" href="{% url 'complete-feed' %}">
    {% include "articles/snippets/analytics_head.html" %}
    {% include "articles/snippets/page_metadata.html" %}

    {% compress css inline %}
        <link rel="stylesheet" href="{% static "vendor/newcss.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "public.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "admonitions.css" %}" type="text/css">
        {% if article and article.has_code %}
            <link rel="stylesheet" href="{% static "vendor/codehilite.css" %}" type="text/css">
        {% endif %}
        {% if user.is_authenticated %}
            <link rel="stylesheet" href="{% static "authenticated.css" %}">
        {% endif %}
    {% endcompress %}

    {% block append_css %}
    {% endblock %}

    {% include "articles/snippets/favicon.html" %}
</head>
<body>
<header>
    <h1>{{ blog_title }}</h1>
    <p>{{ blog_description }}</p>
    {% include "articles/snippets/navigation.html" %}
</header>
{% endspaceless %}

<main>
    {% block content %}
    {% endblock %}
</main>

{% spaceless %}
<footer>
    <hr>
    <p>
        Thoughts written here are my own and dont reflect any of my past, present
        or future employer's position.
        The platform behind this blog is <a href="{{ blog_repo_homepage }}">free software</a>.
        This blog and all articles by Gabriel Augendre are licensed under the
        <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 International License</a>.
        Code blocks by Gabriel Augendre are licensed under the
        <a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU GENERAL PUBLIC LICENSE version 3</a>.<br>
        Currently deployed version: <a href="{{ git_version_url }}">{{ git_version }}</a>. You can check
        for ongoing builds <a href="{{ blog_pipelines_url }}">here</a>.
    </p>
</footer>

{% include "articles/snippets/analytics.html" %}
{% compress js inline %}
    {% if user.is_authenticated %}
        <script src="{% static 'edit-keymap.js' %}" async defer></script>
    {% endif %}
{% endcompress %}

</body>
</html>
{% endspaceless %}
