#id_content, #id_custom_css {
    font-family: "JetBrains Mono", monospace;
    min-height: 30em;
    resize: vertical;
}

#id_content {
    width: calc(100% - 1em);
    height: 38em;
}

label[for=id_content], label[for=id_custom_css] {
    display: none;
}
