.pill {
    font-size: 60%;
    background-color: var(--nc-tx-2);
    color: var(--nc-bg-1);
    padding: .5ex 1ex;
    border-radius: 1ex;
    vertical-align: 15%;
    text-decoration: none;
    display: inline-block;
}
